<mat-toolbar color="primary">
	<a mat-icon-button routerLink="../../">
		<mat-icon svgIcon="close">
		</mat-icon>
	</a>
	<span>Neuer Charakter</span>
	<span style="flex: 1"></span>
	<span>{{remaining}} AP verfügbar</span>
</mat-toolbar>
<div style="padding: 16px;">
	<mat-form-field>
		<input matInput placeholder="Name">
	</mat-form-field>
	<mat-form-field>
		<mat-select placeholder="Erfahrungsgrad"
					[(ngModel)]="level"
					(ngModelChange)="recalculate()">
			<mat-option *ngFor="let level of levels$ | async"
						[value]="level">
				{{level.name | translate}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-select placeholder="Rasse"
					[(ngModel)]="race"
					(ngModelChange)="recalculate()">
			<mat-option *ngFor="let race of races$ | async"
						[value]="race">
				{{race.name | translate}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
