<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>Overview</ng-template>
        <ng-template mat-tab-content>
          <mat-form-field>
            <input placeholder="Name" matInput>
          </mat-form-field>
          <mat-form-field>
            <input placeholder="Familie" matInput>
          </mat-form-field>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>Vorteile</ng-template>
        <ng-template mat-tab-content>

        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>Nachteile</ng-template>
        <ng-template mat-tab-content>

        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>Fertigkeiten</ng-template>
        <ng-template mat-tab-content>
            <mat-list>
                <h3 mat-subheader>Körpertalente</h3>
                <h3 mat-subheader>Gesellschaftstalente</h3>
            </mat-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
