<mat-toolbar color="primary">
	<span>Dashboard</span>
	<span style="flex: 1"></span>
	<button mat-button
			(click)="login()">
		Login
	</button>
	<button mat-button
			(click)="signup()">
		Signup
	</button>
</mat-toolbar>
<mat-list>
	<h3 mat-subheader>Abenteuer</h3>
	<dsa-adventure-list [adventures]="adventures$ | async"></dsa-adventure-list>
	<mat-divider></mat-divider>
	<h3 mat-subheader>Helden</h3>
	<dsa-character-list [characters]="characters$ | async"></dsa-character-list>
	<mat-divider></mat-divider>
	<h3 mat-subheader>NPCs</h3>
</mat-list>

<div class="fab" [class.expanded]="expanded">
	<div class="expandable">
		<a mat-mini-fab
		   matTooltip="Held"
		   matTooltipPosition="before"
		   routerLink="/characters/new">
			<mat-icon svgIcon="account">
			</mat-icon>
		</a>
		<a mat-mini-fab
		   matTooltip="Abenteuer"
		   matTooltipPosition="before"
		   routerLink="/adventures/new">
			<mat-icon svgIcon="book">
			</mat-icon>
		</a>
		<a mat-mini-fab
		   matTooltip="NPC"
		   matTooltipPosition="before"
		   routerLink="/npcs/new">
			<mat-icon svgIcon="gamepad-variant">
			</mat-icon>
		</a>
	</div>
	<button mat-fab
			(click)="toggle()">
		<mat-icon svgIcon="plus">
		</mat-icon>
	</button>
</div>
